.basket__list  p,
 .basket__list span {
    margin: 0;
  }
  
 .basket__list a {
    color: black;
  }
  
  .basket__list img {
    display: block;
    width: 80%;
    height: 80px;
    margin: auto;
  }
  
  .basket {
    width: 80%;
    margin: auto;
    padding: 30px;
  }
  
  .basket ul {
    background-color: whitesmoke;
    padding: 30px;
    margin-bottom: 50px;
    border: whitesmoke solid 1px;
    border-radius: 5px;
    font-size: 13px;
    font-weight: 300;
  }
  
  .basket ul :first-child {
    color: limegreen;
  }
  
  table {
    border-top: solid 1.5px black;
    border-collapse: collapse;
    width: 100%;
    font-size: 14px;
  }
  
  thead {
    text-align: center;
    font-weight: bold;
  }
  
  tbody {
    font-size: 12px;
  }
  
  td {
    padding: 15px 0px;
    border-bottom: 1px solid lightgrey;
  }
  
  .basket :nth-child(3) p {
    margin-top: 6px;
    font-weight: bold;
  }
  
  
  .price {
    font-weight: bold;
  }
  
  
  .basket__bigorderbtn {
    width: 200px;
    height: 50px;
    font-size: 16px;
    margin: auto;
    border-radius: 5px;
  }
  
  .basket__bigorderbtn.left {
    background-color: white;
    border: 1px lightgray solid;
  }
  
  .basket__bigorderbtn.right {
    background-color: limegreen;
    color: white;
    border: none;
  }