{% extends "base.html"  %}
{% block content %}
    <h1>마이페이지</h1>
    <div>    
        <div>
            <select name="search">
                <option value="late">최신</option>
                <option value="title">제목</option>
            </select>
            <input type="text">
            <input class="search_button" type="button" value="검색">
        </div>
        <div class="mypage_list">
            <ul>
                {% for key, value in template_students | dictsort %}
                    <div>
                        <li><a href="/student/{{ key }}">{{ value["name"] }}</a></li>
                    </div>
                {% endfor%}
            </ul>
        </div>
        <div>
            <input class="create_button" type="button" value="글쓰기" onclick="location.href='/create'">
        </div>
    </div>
{% endblock %}