{% extends "base.html" %} {% block content %}

<main class="mt-5">
  <div class="container">
    <section class="login">
      <h2>로그인</h2>
      <form class="login-form" action="/join-in/confirm" method="post">
        <ul>
          <li><input class="user-id" name="join-id" type="text" placeholder="아이디" title="아이디입력" /></li>
          <li>
            <input name="password" type="password" placeholder="비밀번호" title="비밀번호 입력"  />
          </li>
          <li id="save_ids">
            <input type="checkbox" id="chk_id" name="save_ids"/>
              <label for="chk_id">아이디 저장</label>
          </li>
          <li><button type="submit" class="login-button" onclick="saveID()">로그인</button></li>
          <!-- 카카오 API 우선 주석처리
          <li style="list-style: none">
            <a href="javascript:kakaoLogin();">
              <img
                src="https://www.gb.go.kr/Main/Images/ko/member/certi_kakao_login.png"
                style="width: 100%; height: 56px;"/>
            </a>
          </li>
          -->
        </ul>
      </form>
      <div>
        <ul>
          <li><a href="/join">회원가입</a></li>
          <li><a href="/join-in/find/id">아이디 찾기</a></li>
          <li><a href="/join-in/find/password">비밀번호 찾기</a></li>
        </ul>
      </div>
    </section>
  </div>
</main>
{% endblock %}
