{% extends "base.html" %} {% block content %}
<main class="mt-3">
  <div class="container">
    {% if data == "failed" %}
    <div class="col-lg-12 mb-3 row align-items-center justify-content-center">{{ nullmessage }}</div>
    {% else %}
    <div class="row g-3">
      <!--상품 리스트-->
      {% for data in datas %}
      <div class="col-lg-4 col-md-6">
        <a href=""><i class="fa fa-heart"></i></a>
        <div class="card" style="width: 18rem">
          <a onclick="">
            <img
              src="https://image.aladin.co.kr/product/29010/19/cover500/8956615128_1.jpg"
              class="card-img-top"
              alt="..."
          /></a>
          <div class="card-body">
            <h5 class="card-title">{data.name}</h5>
            <p class="card-text">
              {% if data.categori == 0 %}
              <span class="badge bg-dark">교재</span>
              {% elif data.categori == 1 %}
              <span class="badge bg-dark">전자기기</span>
              {% elif data.categori == 2 %}
              <span class="badge bg-dark">의류</span>
              {% elif data.categori == 3 %}
              <span class="badge bg-dark">생필품</span>
              {% endif %}
              <span class="badge bg-dark">{data.tags}</span>
              <span class="badge bg-dark">{data.user_name}</span>
            </p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group" role="group">
                <button type="button" class="btn-sm btn-outline-secondary">
                  장바구니 담기
                </button>
              </div>
              <small class="text-dark">{data.price}원</small>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    {% endif %}
  </div>
</main>
{% endblock %}
